@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-tour/build/css/bootstrap-tour-standalone.min.css";

.slide-panel-container {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background-color: #f8f9fa;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1050;
  padding: 20px;
  overflow-y: auto;
}

.slide-panel-container.open {
  right: 0;
}
